#sr {
    max-width: 1180px;
    padding-top: 30px;
}

.search {
    color: grey;
    border: #A7C4BC;
    border-radius: 4.8px;
    border-style: solid;
    border-width: 1.6px;
    margin: 50px 0 30px 0px;
}

.results {
    /* margin-left: 135px; */
    margin-top: 20px;
    font-family: "urwgeometric-medium", sans-serif;
    padding-left: 0;
}

.sinput {
    border-style: none;
    padding: 8px 0;
}

.sinput:focus {
    outline: none;
}

.search button {
    border-style: none;
    background-color: white;
    float: right;
    margin-top: 5px;
}